on:
  push:
    branches:
      - release/*-alpha
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write

name: release-please-alpha
env:
  ACTION_NAME: release-please-action
jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: release-please
        uses: googleapis/release-please-action@v3.1.2
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target-branch: ${{ github.ref_name }}
          release-type: node

      # Checkout
      - uses: actions/checkout@v3
        if: ${{ steps.release.outputs.release_created }}
      # Setup node
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.release_created }}

      # Install dependencies
      - name: npm install
        run: npm install
        if: ${{ steps.release.outputs.release_created }}

      # Install dependencies
      - name: npm ci
        run: npm ci
        if: ${{ steps.release.outputs.release_created }}

      # Build output
      - name: Build
        run: npm run build
        if: ${{ steps.release.outputs.release_created }}
      # Publish to npm
      - run: |
          git config --global user.email "poechiang@live.cn"
          git config --global user.name "poechiang"
          npm version prerelease --preid alpha
          npm publish --tag alpha
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
