name: publish-beta

on:
  push:
    branches: [beta]

permissions:
  contents: write
  pull-requests: write

jobs:
  beta:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: node
          prerelease: true
          prerelease-type: alpha
          package-name: '@jeffchi/logger'
