# ✔ npm 上生成 1.3.0-beta.1、1.3.0-beta.2 等版本
name: publish-beta

on:
  push:
    branches:
      - 'beta/**'

permissions:
  contents: write
  pull-requests: write

jobs:
  release-beta:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - uses: googleapis/release-please-action@v4
        with:
          release-type: node
          prerelease: true
          prerelease-type: beta
          package-name: '@jeffchi/logger'
          include-v-in-tag: true
      - name: Publish beta to npm
        run: npm publish --tag beta
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
