name: publish-release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 2. Node 环境
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      # 3. 安装依赖 & build
      - run: npm ci
      - run: npm run build

      # 4. 配置 git 用户
      - name: Configure git for CI
        run: |
          git config --global user.email "poechiang@users.noreply.github.com"
          git config --global user.name "poechiang"

      # 7. Publish to npm latest
      - name: Publish official version to npm
        run: |
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
