name: publish-rc

on:
  push:
    branches:
      - 'rc/**'

permissions:
  contents: write
  pull-requests: write

jobs:
  release-rc:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: node
          prerelease: true
          prerelease-type: rc
          package-name: '@jeffchi/logger'
          include-v-in-tag: true
